<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618200044908-jcl1l8k9dhi80s8l7hqcr4sqvhqq03jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618200044908-jcl1l8k9dhi80s8l7hqcr4sqvhqq03jj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>618200044908-9udrdu2o6vtst9elisc6kp4o1nu85jhd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUuYXmC5owvHYOzweW2VsBAs9Lhfll4js</string>
	<key>GCM_SENDER_ID</key>
	<string>618200044908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singulariswow</string>
	<key>PROJECT_ID</key>
	<string>singularis-wow</string>
	<key>STORAGE_BUCKET</key>
	<string>singularis-wow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618200044908:ios:34606bc7e88056f5f70f49</string>
</dict>
</plist>